$font: 'Inter', sans-serif;
$font-card: 'Montserrat', sans-serif;
$text: rgba(132, 118, 170);
$text-heading: rgb(153, 239, 208);
$text-links-in-header: rgba(181, 181, 181);
$accent: rgba(242, 153, 74);
$background: linear-gradient(233.26deg, #3B1D60 -23.78%, #040D3E 105.28%);
$p-margin: 2rem 0;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  cursor: default;
  color: $text;
  background: $background;
}

section {
  position: relative;
  min-height: 70vh;
  margin: 10vh 0;
  
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

span {
  display: inline-block;
}

p {
  color: $text;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2 {
  color: $text-heading;
  line-height: 50px;
  font-size: 2.5rem;
}

svg {
  min-height: 1rem;
  height: 1rem;
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: $font;
  border: none;
  background: none;
  outline: none;

  &[disabled] {
    cursor: default;
    opacity: .7;
  }
}

strong {
  color: $accent;
}


// SECTION HEADERS
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  p {
    margin-top: 1rem;
  }
}


// BUTTONS
button {
  cursor: pointer;
  width: 112px;
  height: 36px;
  border: $accent 1px solid;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: color 0.1s;

}

.button-primary {
  color: white;
  background: $accent;
  box-shadow: -10px 18px 36px transparentize($accent, 0.8);
  transition: background-color 0.05s;

  &:hover {
    background: darken($accent, 20%);

  }
}

.button-secondary {
  color: $accent;
}

.bigger {
  width: 112px * 1.4;
  height: 36px * 1.4;
}

// TOP HEADER
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8vh 12vw;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      height: 36px;
      margin-right: 30px;
    }

    a {
      margin: 0 10px;
      color: $text-links-in-header;
      letter-spacing: 2px;
      transition: color 0.08s;

      &:hover {
        color: lighten($text-links-in-header, 50%);
      }
    }
  }

  button {
    &:last-of-type {
      margin-left: 15px;
    }
  }
}


// INTRO
.intro {
  background: url('../assets/RunningMan.png') no-repeat top right;
  background-size: 50%;

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    p {
      margin: $p-margin;
    }
  }

  .video {
    display: flex;
    margin: 3rem 0;

    video {
      background: #361c5d;
      margin-right: 2rem;
    }

    .description {
      display: flex;
      flex-direction: column;

      p {
        margin: 5px 0;

        &:last-of-type {
          color: darken($text, 10%)
        }
      }
    }
  }

  button {
    &:last-of-type {
      margin-left: 15px;
    }
  }

  .logos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;

    svg {
      height: 2rem;

      path {
        fill: $text;
        transition: color 0.08s;
      }

      &:hover {
        path {
          fill: lighten($text, 50%)
        }
      }
    }
  }
}


// YOUR CHOICE
.your-choice {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .feature {
      max-width: 300px;
      line-height: 1.5rem;
      margin: 2%;
      display: flex;

      object {
        margin-right: 1.5rem;
      }

      span {
        color: $text-heading;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
    }
  }

  &::before {
    content: '';
    background-image: url('../assets/LinesDown.png');
    background-repeat: no-repeat;
    top: -15vh;
    left: -10%;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.3;
  }
  &::after {
    content: '';
    background-image: url('../assets/LinesDown.png');
    background-repeat: no-repeat;
    top: -20vh;
    bottom: 0;
    left: 80vw;
    right: 0;
    position: absolute;
    opacity: 0.3;
  }
}


// TRAFFIC
.traffic {
  min-height: 60vh;
  background: url('../assets/ImageWithGraphic.png') no-repeat top right 10%;
  background-size: 50vh;
  margin: 10vh 0;

  article {
    width: 50%;
    padding-top: 5rem;

    p {
      margin: $p-margin;
      line-height: 28px;
    }
  }
}


// SAVE MONEY
.save-money {
  min-height: 50vh;
  background: url('../assets/LinesTopRight.png') no-repeat top -10vh left -20vw;

  header {
    text-align: center;

    h2 {
      width: 66%;
    }

    p {
      width: 66%;
    }
  }

  .ways {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;

    .way {
      max-width: 300px;
      line-height: 1.5rem;
      margin-bottom: 3rem;
      text-align: center;

      span {
        color: $text-heading;
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
    }
  }
}


// FRAMEWORK
.framework {
  text-align: center;
  background: url('../assets/CirclyThing.png') center no-repeat;
  background-size: 100%;

  h2 {
    width: 66%;
    margin: 0 auto;
  }

  button {
    margin-top: 3rem;
  }
}


// INVEST
.invest {
  min-height: 50vh;
  background: url('../assets/Map.png') no-repeat top right -20%;
  background-size: 50%;

  .container {
    display: flex;
    justify-content: space-between;
  }

  article {
    width: 40%;

    p {
      margin: $p-margin;
      line-height: 28px;
    }
  }

  .card {
    font-family: $font-card;
    display: flex;
    flex-direction: column;
    background: white;
    width: 260px;
    height: 414px;
    border-radius: 0 0 10px 10px;
    position: relative;

    .primary-image {
      width: 100%;
    }

    .button-image {
      position: absolute;
      height: 110px;
      top: 110px;
      left: -60px;

    }

    .text {
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      height: 100%;

      .block {
        margin: 1.5rem 0;
        line-height: 15px;

        &:first-of-type {
          margin-top: 0;
        }
      }

      .heading {
        color: rgb(33, 43, 54);
        font-weight: 500;
        font-size: 16px;
      }

      .sub {
        font-size: 10px;
        color: rgb(99, 115, 129);
      }

      .money {
        font-size: 24px;
        color: rgb(19, 194, 150);
      }

      .up {
        border-bottom: 1px solid rgb(214, 219, 223);
      }

      .bottom {
        display: flex;
        margin: 1rem 0;

        article {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}


// HELP
.help {
  min-height: 50vh;
  background-image: url('../assets/Bitmap.png'), url('../assets/LinesAngled.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center left 10vw, center right -25vw;
  background-size: 40%, 50%;
  margin-bottom: 10vh;

  .container {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 10vh;
    padding-left: 7%;
    margin-left: auto;
    margin-right: 8vw;
  }

  p {
    margin: $p-margin;
  }

  .features {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;

    .feature {
      max-width: 300px;

      &:first-of-type {
        margin-right: 3vw;
      }

      svg {
        display: block;
        height: 2rem;
        margin-bottom: 1rem;
      }

      span {
        color: $text-heading;
        font-weight: 500;
      }

      p {
        margin: 0.5rem 0;
      }
    }
  }
}


// MAILING
.mailing {
  background: url('../assets/LinesUp.png') no-repeat top center;
  background-size: 100% 50%;
  min-height: 50vh;

  .container {
    padding-top: 5vh;
  }


  .form-container {
    background-color: #181a51;
    border-radius: 10px;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: $accent;
    }

    p {
      margin: $p-margin;
      width: 50%;
    }

    form {
      display: flex;
      justify-content: center;
      width: 50%;

      label {
        input {
          background-color: #2e3061;
          border-radius: 5px;
          // TODO
          width: 112px * 2.5;
          height: 36 * 1.4px;
          padding: 1rem;
          color: white;

          &::placeholder {
            color: $text;
          }
        }
      }

      .send-email {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

// FOOTER
footer {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 12vw;

    .column {
      color: white;
      display: flex;
      flex-direction: column;

      span {
        font-weight: 700;
        margin: 1.5rem 0;
      }

      .links {
        display: flex;
        flex-direction: column;

        a {
          margin: 0.7rem 0;
          color: $text-links-in-header;
          transition: color 0.08s;

          &:hover {
            color: lighten($text-links-in-header, 50%)
          }

        }
      }
    }
  }

  .terms {
    display: flex;
    justify-content: center;

    span, a {
      margin: 10vh 1rem;
      color: rgb(141, 141, 141);
      transition: color 0.1s;
    }

    a:hover {
      color: lighten(rgb(141, 141, 141), 50%)
    }

  }
}